//fonts

$font-default: 'Segoe UI Light', sans-serif;
$font-regular: 'Lato', sans-serif;

//colors

$light-black:  #212529;
$gray: #D9D9D9;
$gray-dark: #808080;
$gray-darker: #888888;
$black: #000000;
$whitesmoke: #f5f5f5;